extends baseEmail

block content
  p سلام #{firstName},
  p رمز عبور خود را فراموش کرده اید؟ درخواست رمز عبور را با رمز و گذرواژه جدید خود ارسال کنید تأیید در: #{url}.
  p (وب سایت مربوط به این اقدام هنوز اجرا نشده است.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='right')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') گذرواژه خود را به روز رسانی کنید
  p اگر رمز ورود خود را فراموش نکردید ، لطفاً این ایمیل را نادیده بگیرید!
